{% extends 'base.html' %}
{% load static %}

{% block title %}Эксклюзивные QR-открытки для влюбленных{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4 text-primary mb-4">Создайте незабываемые моменты</h1>
            <p class="lead">Наши эксклюзивные QR-открытки помогут вам выразить свои чувства самым романтичным и креативным способом. Просто наклейте QR-код на чехол телефона, и ваша вторая половинка сможет открыть специальное фото или видео, когда захочет.</p>
            <a href="#" class="btn btn-primary btn-lg mt-3">Заказать сейчас</a>
        </div>
        <div class="col-md-6">
            <div class="media-content rounded-4 overflow-hidden shadow-lg">
                {% if media_file %}
                    {% if media_file.is_video %}
                        <video autoplay loop muted class="w-100">
                            <source src="{{ media_file.file.url }}" type="video/mp4">
                        </video>
                    {% elif media_file.is_image %}
                        <img src="{{ media_file.file.url }}" alt="Postcard Image" class="w-100">
                    {% else %}
                        <p class="text-center p-5">Unsupported media type.</p>
                    {% endif %}
                {% else %}
                    <img src="{% static 'img/default.jpg' %}" alt="Default Image" class="w-100">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
